<% provide(:title, "Dashboard") %>
<% if current_user.doctor? %>
  <div class="row">
    <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="panel panel-profile no-bg">
        <div class="panel-heading overflow-h">
          <h2 class="panel-title heading-sm pull-left">Scheduled Online Visits</h2>
          
          <%#= button_to "Add", action: "add" %>
          <%= link_to 'Working Schedule', working_schedules_path, class: 'btn btn-default pull-right' %>
          <button class="glyphicon glyphicon-plus" id="addBtn"></button>
        </div>
        
        <!--    Add form     -->
        <%= content_tag :div, :id=>'contactdiv' do %>
          <%= form_tag({controller: "video_sessions"}, method: "post", class: "addform", id: "contact") do -%>
          <!-- <form class="addform" action="#" id="contact"> -->
            <%= content_tag :div, :class=>'addform_title' do 
              content_tag :h3, "Add Information"
              
            end %>
            <%= content_tag :hr %>
            <%= content_tag :div, :class=>'first' do %>
              <%= content_tag :div, :class=>'first_left' do %>
                <%= content_tag :div, :class=>'first_l1' do %>
                  <%= label_tag 'fname', 'First Name(*): ' %>
                  <%= text_field_tag 'fname', nil, placeholder: 'First Name', type: 'text', required: true %>
                  <!-- <label>First Name(*): </label> -->
                  <!-- <input type="text" id="fname" placeholder="First Name" required /> -->
                <% end %>
                
                <%= content_tag :div, :class=>'first_l2' do %>
                  <%= label_tag 'addemail', 'Email(*): ' %>
                  <%= text_field_tag 'addemail', nil, placeholder: 'Email', type: 'email', required: true %>
                  <!-- <label>Email(*): </label>
                  <input type="email" id="addemail" placeholder="Email" required /> -->
                <% end %>

                <%= content_tag :div, :class=>'first_l3' do %>
                  <%= label_tag 'addphone', 'Phone(*): ' %>
                  <%= text_field_tag 'addphone', nil, placeholder: 'Phone Number', type: 'number', required: true %>
                  <!-- <label>Phone(*): </label>
                  <input type="text" id="addphone" placeholder="Phone Number" required /> -->
                <% end %>
              <% end %>

              <%= content_tag :div, :class=>'first_right' do %>
                <%= content_tag :div, :class=>'first_r1' do %>
                  <%= label_tag 'lname', 'Last Name(*): ' %>
                  <%= text_field_tag 'lname', nil, placeholder: 'Last Name', type: 'text', required: true %>
                  <!-- <label>Last Name(*): </label>
                  <input type="text" id="lname" placeholder="Last Name" required />  -->
                <% end %>
              

                <%= content_tag :div, :class=>'first_r2' do %>
                  <%= label_tag 'addphn', 'PHN(*): ' %>
                  <%= text_field_tag 'addphn', nil, placeholder: 'PHN', type: 'number', required: true %>
                  <!-- <label>PHN(*): </label>
                  <input type="text" id="addphn" placeholder="PHN" required /> -->
                <% end %>
              <% end %>
            
            <% end %>

            <%= content_tag :div, nil, :class=>'clear' %>
              
            <%= content_tag :div, :class=>'second' do %>
              <%= content_tag :div, :class=>'second_left' do %>
                <%= content_tag :div, :class=>'second_l1' do %>
                  <%= label_tag 'addtype', 'Type: ' %>
                  <%= text_field_tag 'addtype', nil, placeholder: 'Type', type: 'text' %>
                  <!-- <label>Type: </label>
                  <input type="text" id="addtype" placeholder="Type"/> -->
                <% end %>

                <%= content_tag :div, :class=>'second_l2' do %>
                  <%= label_tag 'adddate', 'Date(*): ' %>
                  <%= text_field_tag 'adddate', nil, placeholder: 'Date', type: 'text', required: true %>
                  <!-- <label>Date(*): </label>
                  <input type="text" id="adddate" placeholder="Date" required /> -->
                <% end %>

                <%= content_tag :div, :class=>'second_l3' do %>
                  <%= label_tag 'addduration', 'Duration(*): ' %>
                  <!-- <label>Duration(*): </label> -->
                 <!--  <input type="text" id="addduration" placeholder="Duration" required /> -->
                  <%=  select_tag("addduration", options_for_select([['1mins', '1'], ['5mins', '2'], ['10mins', '3']], '1'), id: "addduration") %>

                  <!-- 
                  <select id="addduration">
                    <option>1mins</option>
                    <option>5mins</option>
                    <option>10mins</option>
                  </select> -->

                <% end %>
              <% end %>

              <%= content_tag :div, :class=>'second_right' do %>
                <%= content_tag :div, :class=>'second_r1' do %>
                  <%= label_tag 'addconcern', 'Concern: ' %>
                  <%= text_field_tag 'addconcern', nil, placeholder: 'Concern', type: 'text' %>
                  <!-- <label>Concern: </label>
                  <input type="text" id="addconcern" placeholder="Concern" /> -->
                <% end %>

                <%= content_tag :div, :class=>'second_r2' do %>
                  <%= label_tag 'addtime', 'Time(*): ' %>
                  <%= text_field_tag 'addtime', nil, placeholder: 'Time', type: 'text', required: true %>
                  <!-- <label>Time(*): </label>
                  <input type="text" id="addtime" placeholder="Time" required /> -->
                <% end %>

                <%= content_tag :div, :class=>'second_r3' do %>
                  <%= label_tag 'addstatus', 'Status(*): ' %>
                  <!-- <label>Status(*): </label> -->
                  <!-- <input type="text" id="addstatus" placeholder="Status" required /> -->
                  <%=  select_tag("addstatus", options_for_select([['Present', '1'], ['Online', '2'], ['Offline', '3']], '1'), id: "addstatus") %>
                  <!-- <select id="addstatus">
                    <option>Status1</option>
                    <option>Status2</option>
                    <option>Status3</option>
                  </select>
                   -->
                <% end %>
              <% end %> 
            <% end %>
            
            <%= content_tag :div, nil, :class=>'clear' %>

            <%= submit_tag 'Add', id: 'send' %>
            <%= button_tag 'Cancel', id: 'cancel', type: 'button' %>
            <!-- <input type="submit" id="send" value="Add"/> -->
            <!-- <input type="button" id="cancel" value="Cancel"/> -->
            <%= tag(:br) %>
          <!-- </form> -->
          <% end -%>
        <% end %>

        <!--      end form           -->

        <div class="panel-body">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <div class="online-visit-calendar">&nbsp;</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="panel panel-profile no-bg">
        <div class="panel-heading overflow-h">
          <h2 class="panel-title heading-sm pull-left">Scheduled Visits</h2>
        </div>
        <div class="row panel-body">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <% if @video_sessions.count > 0 %>
              <table class="table">
                <tr>
                  <th>No</th>
                  <th>Created Time</th>
                  <th>User</th>
                </tr>
                <% @video_sessions.each do |video_session| %>
                  <tr>
                    <td><%= video_session.id %></td>
                    <td><%= video_session.created_at.strftime("%B %-d, %Y %I:%M %P") %></td>
                    <td><%= link_to video_session.user.try(:name), video_session_path(video_session) %></td>
                  </tr>
                <% end %>
              </table>
              <div class="text-center"><%= will_paginate @video_sessions, param_name: :scheduled_visit_page %></div>
            <% else %>
              <div class="text-center">No Scheduled Visits.</div>
            <% end %>
          </div>
        </div>
      </div>

      <%= render 'tasks/tasks' %>

      <%= javascript_tag do %>
        init_dashboard();
      <% end %>
    </div>
  </div>
<% else %>
  <% if current_user.csr? %>
    <div class="panel panel-profile no-bg">
      <div class="panel-heading overflow-h">
        <h2 class="panel-title heading-sm pull-left">Scheduled Visits</h2>
      </div>
      <div class="row panel-body">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
          <% if @video_sessions.count > 0 %>
            <table class="table">
              <tr>
                <th>No</th>
                <th>Created Time</th>
                <th>User</th>
                <th></th>
              </tr>
              <% @video_sessions.each do |video_session| %>
                <tr>
                  <td><%= video_session.id %></td>
                  <td><%= video_session.created_at.strftime("%B %-d, %Y %I:%M %P") %></td>
                  <td><%= video_session.user.try(:name) %></td>
                  <td><%= link_to 'View', video_session_path(video_session) %></td>
                </tr>
              <% end %>
            </table>
            <div class="text-center"><%= will_paginate @video_sessions, param_name: :scheduled_visit_page %></div>
          <% else %>
            <div class="text-center">No Scheduled Visits.</div>
          <% end %>
        </div>
      </div>
    </div>
    <%= javascript_tag do %>
      init_dashboard();
    <% end %>
  <% else %>
    <% if @video_sessions.count > 0 %>
      <div class="panel panel-profile no-bg">
        <div class="panel-heading overflow-h">
          <h2 class="panel-title heading-sm pull-left">Waiting Visit</h2>
        </div>

        <div class="row panel-body">
          <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
            <table class="table">
              <tr>
                <th>No</th>
                <th>Created Time</th>
                <th>User</th>
                <th></th>
              </tr>
              <% @video_sessions.each do |video_session| %>
                <tr>
                  <td><%= video_session.id %></td>
                  <td><%= video_session.created_at.strftime("%B %-d, %Y %I:%M %P") %></td>
                  <td><%= video_session.user.try(:name) %></td>
                  <td><%= link_to 'View', video_session_path(video_session) %></td>
                </tr>
              <% end %>
            </table>
            <div class="text-center"><%= will_paginate @video_sessions, param_name: :scheduled_visit_page %></div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="panel panel-profile no-bg">
    <div class="panel-heading overflow-h">
      <h2 class="panel-title heading-sm pull-left">Scheduled Online Visits</h2>
    </div>

    <div class="row panel-body">
      <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="form-group">
          <div class="online-visit-calendar">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render 'online_visit' %>
<%= javascript_tag do %>
  renderOnlineVisitCalendar(<%= current_user.id %>, "<%= current_user.user_type %>", <%= raw @online_visits.to_json %>, <%= raw @call_backs.to_json %>);
<% end %>

