<% provide(:title, "Dashboard") %>
<% if current_user.doctor? %>
  <h1>Pending Video Sessions</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
      <% if @video_sessions.count > 0 %>
        <table class="table">
          <tr>
            <th>No</th>
            <th>Created Time</th>
            <th>User</th>
            <th></th>
          </tr>
          <% @video_sessions.each do |video_session| %>
            <tr>
              <td><%= video_session.id %></td>
              <td><%= video_session.created_at %></td>
              <td><%= video_session.user.name %></td>
              <td><%= link_to 'View', video_session_path(video_session) %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <div class="text-center">No pending video sessions.</div>
      <% end %>
    </div>
  </div>
<% end %>

<h1>Pending Call Backs</h1>

<% if @call_backs.count > 0 %>
  <table class="table">
    <tr>
      <th>No</th>
      <th>Created Time</th>
      <th>User</th>
      <th>Doctor</th>
      <th>Scheduled Time</th>
      <th></th>
      <th></th>
    </tr>
    <% @call_backs.each do |call_back| %>
      <tr>
        <td><%= call_back.id %></td>
        <td><%= call_back.created_at %></td>
        <td><%= call_back.user.name %></td>
        <td><%= call_back.doctor.try(:name) %></td>
        <td><%= call_back.scheduled_time %></td>
        <% if current_user.id == call_back.doctor_id %>
          <td><%= link_to 'Edit', edit_call_back_path(call_back) %></td>
          <td><%= link_to 'Delete', call_back, method: :delete, data: { confirm: "Are you sure?" } %> </td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% else %>
  <div class="text-center">No Call Backs.</div>
<% end %>