<% if @is_doctor %>
  <% provide(:title, "Video Session with Patient") %>
  <h1>Video Session with Patient</h1>

  <div id="waiting-message"><h2>Waiting for Patient</h2></div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
      <div>
        <%= render 'video_stream' %>
      </div>
      <div class="form-group">
        <%= button_tag 'Mute / Pause Session', id: "mute_video_stream", class: "btn btn-primary form-control" %>
      </div>
      <div class="form-group">
        <%= button_tag 'Take Photo', id: "take_photo", class: "btn btn-primary form-control" %>
      </div>
      <div class="form-group" id="taken_photos">

      </div>
      <canvas></canvas>
      <%= form_for(@photo, html: { class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }) do |f| %>
        <div class="field">
          <%= f.label :photo_url %><br>
          <%= f.file_field :photo_url %>
          <%= f.submit %>
        </div>
      <% end %>
      <div class="form-group">
        <%= button_to 'Schedule Call Back', new_call_back_path(@video_session), method: :get, class: "btn btn-primary form-control" %>
      </div>
      <%= form_for(@video_session, url: finish_video_session_path(@video_session)) do |f| %>
        <%= f.label :notes %>
        <%= f.text_area :notes, rows: 3, class: 'form-control' %>

        <%= f.submit 'End Session', id: "finish_video_session", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% else %>
  <% provide(:title, "Video Session") %>
  <h1>Video Session</h1>

  <div id="waiting-message"><h2>Waiting for Doctor</h2></div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
      <div>
        <%= render 'video_stream' %>
      </div>
      <div class="form-group">
        <%= button_to 'Leave Callback', call_backs_path(@video_session), method: :post, class: "btn btn-primary" %>
      </div>
      <div class="form-group">
        <%= button_to 'Leave Message', new_message_path(@video_session), method: :get, class: "btn btn-primary" %>
      </div>
      <div class="form-group">
        <%= button_to 'End Session', finish_video_session_path(@video_session), method: :patch, id: "finish_video_session", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>

<script>
  init_video_session(<%= current_user.id %>, "<%= current_user.name %>", <%= @video_session.id %>, <%= @video_session.user_id %>);
</script>